<div class="card" style="margin-top: 2%;">
  <p-table [value]="datos.content" [tableStyle]="{ 'min-width': '50rem' }">
    <ng-template pTemplate="header">
      <tr>
        <th (click)="doOrder('id')">ID</th>
        <th (click)="doOrder('name')">Nombre</th>
        <th (click)="doOrder('surname')">P. Apellido</th>
        <th (click)="doOrder('lastname')">S. Apellido</th>
        <th (click)="doOrder('lastname')">Email</th>
        <th (click)="doOrder('lastname')">Usuario</th>
        <th (click)="doOrder('lastname')">Rol</th>
        <th>Acciones</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-u>
      <tr>
        <td>{{u.id}}</td>
        <td>{{u.name}}</td>
        <td>{{u.surname}}</td>
        <td>{{u.lastname}}</td>
        <td>{{u.email}}</td>
        <td>{{u.username}}</td>
        <td *ngIf="u.role==0">Admin</td>
        <td *ngIf="u.role==1">User</td>
        <td>
          <a [routerLink]="['/admin','user','view',u.id]">Ver usuario</a>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
<br>
<h4 style="text-align: center;">Mostrando {{datos.numberOfElements}} registros de {{datos.totalElements}} totales</h4>
<div class="card flex justify-content-center">
  <p-paginator (onPageChange)="onPageChange($event)" [first]="first" [rows]="rows" [totalRecords]="120"
    [rowsPerPageOptions]="[10, 20, 30]"></p-paginator>
</div>